    /* Sfondo per il container  da inserire */
    @font-face {
        font-family: 'Circular';
        src: url(../fonts/CircularStd-Black.otf);
    }

    body {
        font-family: 'Circular', sans-serif;
    }


    .gradient-background {
        background: linear-gradient(to top, #212529, rgb(48, 50, 47));
        width: 100%;
    }

    #albumImg {
        
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    @media screen and (min-width: 998px) {
      #albumImg {
        height: 75vh;
      }
    }

    .btn-active {

        border: 0.2px solid black;
        color: #fff;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-active:focus,
    .btn-active:active {
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.02), 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
        outline: none;
    }

    .bi-play-fill {
        width: 500px;
    }

    .dog {
        width: 60px;
        height: 60px;
    }

    .gradient-footer {
        background-image: linear-gradient(to top, #000000e8, #212529eb)
    }

    .App__quick-link-featured-img {
        height: 25px;
        width: 25px;
        background-color: #efefef;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(to bottom right, blue, white)
    }
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    .banner-img img {
      width: 10rem;
    }
    .day-img img {
      width: 3rem;
    }
    #divimg {
      height: 48px;
    }
    .imgProfilo {
      width: 2em;
    }
    .backgroundOpacity {
      background-color: rgba(0, 0, 0, 0.171);
    }
    .bg-body-gray {
      background-color: #3232325d;
    }

    .fixed-bottom-container {
      /* background-image: linear-gradient(to top, #212529fe, #198754); */
      color: white;
    }
    
    .player-bar {
      width: 100%;
      height: 3px;
      background-color: white;
    }
    .icon-white .player-bar-small {
      width: 50px;
      height: 5px;
      background-color: white;
    }

    .color-navbar {
      background-color: #272a2cc5;
    }

    .bottom-custom {
      bottom: 78.609px;
    }

    .padding-custom {
      padding: 2px 0;
    }

    .scrollable {
      height: 100vh;
      overflow: scroll;

  }
    ul li img {
      width: 40px;
      height: 40px;
  }

  .player-bar {
    width: 100%;
    height: 3px;
    background-color: grey;
    position: relative;
  }
  .player-bar-fill {
    width: 0;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cursor-pointer {
    cursor: pointer;
  }
.fixed-bar {
  width: 200px;
}

.accent {
  accent-color: white;
}

